body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    background-color: #2f4f4f;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}

.container{
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.top-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    color: black;
    justify-content: center;
}
.bottom-container{
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
    width: 100%;
    padding-bottom: 50px;
}
main label,input{
    display: inline;
    float: left;
}


main{
    display: block;
    padding: 0 70px;
    margin: 50px;
    height: 300px;
}

form{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px;
  position: static;
}
#number1, #number2{
display: block;
padding: 8px 20px;
float: left;
font-size: 16px;
line-height: 10px;
}
#add, #reverse{
  padding: 8px 20px;
  margin: 5px;
}
#type{
padding: 4px 5px;
}
.list{
    display: flex;
    justify-content: center;
}


table.unit-table {
    border: 2px solid #FFFFFF;
    background-color: #EEEEEE;
    width: 500px;
    text-align: center;
    border-collapse: collapse;
    color:black;
  }
  table.unit-table td, table.unit-table th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
  }
  table.unit-table tbody td {
    font-size: 13px;
  }
  table.unit-table td:nth-child(even) {
    background: #EBEBEB;
  }
  table.unit-table thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.unit-table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  table.unit-table thead th:first-child {
    border-left: none;
  }

  table.unit-table tfoot td {
    font-size: 14px;
  }
table a{
    text-decoration: none;
    color: black;
}


.conversion{
 margin: 25px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 25px;
  padding-top: 5px;
  color: white;
  background-color: darkslategrey;
}
.footer-user{
  margin: -2px 8px 0 0;
  padding-left: 10px;
  font-size: 12px;
}
.footer-nav{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
}
a{
  text-decoration: none;
  color: white;
}
.footer-item{
  margin: 0 20px;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.6;
}
.footer-item:hover{
  opacity: 1;
}
